@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Nunito", system-ui, sans-serif;
    }

    [contenteditable="true"] {
        @apply hover:bg-neutral/25 focus:text-neutral focus:bg-base-100 rounded px-1 py-0.5 outline-none transition;
    }

    .input-group-bordered {
        @apply input-group !rounded-lg overflow-hidden;
    }

    .input-group-bordered > input, .select {
        @apply !outline-0 !ring-0 border-0;
    }

    .input-group-bordered > span {
        @apply !px-2 justify-center;
    }
}

@layer components {
    .divider {
        @apply w-1 m-0 before:rounded-t-xl before:bg-base-100/25 after:rounded-b-xl after:bg-base-100/25
    }
    .btn-outline {
        @apply border-2;
    }
    .btn {
        @apply text-base-100;
    }
    .btn-sm {
        @apply leading-5;
    }
    .btn-ghost {
        @apply text-neutral;
    }
    .select, .input {
        @apply outline outline-offset-2 outline-2 border-0 !ring-0 !transition-all;
    }
    .select-sm {
        @apply !leading-[0.999rem];
    }
    .toggle {
        @apply !bg-none !border-2;
    }
    .btn-outline.btn-error:hover, .btn-outline.btn-success:hover, 
    .btn-outline.btn-info:hover, .btn-outline.btn-warning:hover {
        @apply text-base-100;
    }
    .btn-error:hover:not(.btn-outline), .btn-error.btn-active:not(.btn-outline), 
    .btn-info:hover:not(.btn-outline), .btn-info.btn-active:not(.btn-outline),
    .btn-success:hover:not(.btn-outline), .btn-success.btn-active:not(.btn-outline), 
    .btn-warning:hover:not(.btn-outline), .btn-warning.btn-active:not(.btn-outline) {
        @apply brightness-[0.85];
    }
    .btn-outline {
        @apply border-2;
    }
    .checkbox {
        @apply border-2;
    }
}

body {
    scrollbar-color: #27272a #f4f4f5;
}

[data-theme="dark"] body {
    scrollbar-color: #f4f4f5 #27272a;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 10px;
    border: 6px solid #f4f4f5;
}

[data-theme="dark"] ::-webkit-scrollbar-thumb {
    background: #f4f4f5;
    border: 6px solid #27272a;
}

::-webkit-scrollbar-track {
    background: #f4f4f5;
}

[data-theme="dark"] ::-webkit-scrollbar-track {
    background: #27272a;
}